{
  "openapi": "3.1.0",
  "info": {
    "title": "judt API",
    "version": "1.0.0",
    "description": "The judt API creates and runs Apps. Each App has a sandbox, where you and agents edit and run its source, and a production deployment that serves it.\n\n## Authentication\n\nSend an API token as a bearer token in the `Authorization` header. A token belongs to one organization, and you create and revoke tokens in the dashboard. A token scoped to one App can reach only that App. Give that kind of token to an agent.\n\n## Sandboxes\n\nCreating an App reserves its address, but it doesn't start a sandbox or publish anything. There's no endpoint to start a sandbox. A request that needs the sandbox starts it first, so the first request after the sandbox goes idle takes longer. Files, Git, commands, commits, restores, previews, and deployments all need the sandbox.\n\nThe sandbox stops on its own when it's idle. If `sandbox_status` is `failed`, the most recent start failed, and the API retries it while the sandbox is needed.\n\n## Retries\n\nA request that changes something returns `200` with its result after the work is done. To retry a request safely, send an `Idempotency-Key` header. For 30 days, a retry with the same key and input returns the first request's result instead of repeating the work. If you don't send a key, the API generates one and returns it in the `Idempotency-Key` response header.\n\nThe API records file writes and deletes, commands, commits, and restores before it runs them. The response status tells you what to do next:\n\n- `503` or `504`: the action is recorded but not finished. To get its result, retry with the same key. A new key would run the action again.\n- `4xx` or `502`: the result is final. A retry with the same key returns the same response.\n\nA `504 request_timeout` response says how far the work got and which event to check. The work continues, and a retry with the same key picks it up.\n\n## Troubleshooting\n\nTo see what happened to an App's sandbox, deployments, and deletion, list its events with `GET /api/apps/{id}/events`. To see what the App's code did, including requests, output, exceptions, and failed builds, list its logs with `GET /api/apps/{id}/logs`.\n\n## Time limits\n\nRequests have the following time limits:\n\n- Stopping the sandbox: 120 seconds.\n- File writes, commits, and restores: 120 seconds.\n- Commands: the command's `timeout_seconds`, up to 120 seconds, plus 60 seconds to stop it and save its result.\n- Publishing, unpublishing, deleting an App, and changing production settings: 540 seconds, including any sandbox start.\n\nIf a file write, commit, restore, or command has to start the sandbox, it gets up to 120 more seconds.\n\n## Errors\n\nAn error returns a JSON body in the form `{\"error\": {\"code\": \"CODE\", \"message\": \"MESSAGE\", \"detail\": \"DETAIL\", \"request_id\": \"REQUEST_ID\"}}`. The `code` value is stable, so check it rather than `message`. The `detail` value is optional."
  },
  "servers": [
    {
      "url": "https://api.judt.ai"
    }
  ],
  "tags": [
    {
      "name": "Apps",
      "description": "Create, update, and delete Apps, and control who can reach them."
    },
    {
      "name": "Secrets",
      "description": "Store values, such as API keys, that an App reads at runtime. Responses never include Secret values."
    },
    {
      "name": "Files",
      "description": "Read and write the source files in an App's sandbox."
    },
    {
      "name": "Sandbox",
      "description": "Run commands, use Git, commit and restore source, and preview the App's sandbox."
    },
    {
      "name": "Deployments",
      "description": "Publish an App's source to production, and take it offline."
    },
    {
      "name": "Monitoring",
      "description": "See what happened to an App, and what its code did."
    },
    {
      "name": "Templates",
      "description": "The starting points for new Apps."
    },
    {
      "name": "Agents",
      "description": "Work with the in-product coding agent: sessions, turns, events, and the models it runs on. The agent itself works only through this API."
    }
  ],
  "paths": {
    "/api/apps": {
      "post": {
        "summary": "Create an App",
        "description": "Creates an App and reserves its address. The App's sandbox doesn't start, and nothing is published, until you use them.",
        "tags": [
          "Apps"
        ],
        "operationId": "post__api_apps",
        "security": [
          {
            "ApiToken": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "A key that identifies this request for retries, up to 200 printable characters. A retry with the same key and input returns the first request's result instead of repeating the work. If you omit the key, the API generates one and returns it in the `Idempotency-Key` response header.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100,
                    "description": "The App's display name, up to 100 characters."
                  },
                  "slug": {
                    "description": "The App's label under the App base domain. If another App has the slug, including a deleted App, or the slug is reserved, the request returns `409 slug_unavailable`. Reserved slugs: `staging`, `preview`, `api`, `www`, `local`. If you omit it, the API generates one, such as `teal-plucky-tatooine`.",
                    "type": "string",
                    "pattern": "^[a-z0-9](?:[a-z0-9-]{0,46}[a-z0-9])?$"
                  },
                  "template_id": {
                    "description": "The ID of the template to create the App from. To list templates, use `GET /api/templates`. Default: the Hello template. An unknown ID returns `404 template_not_found`.",
                    "type": "string",
                    "pattern": "^tpl_[0-9A-Za-z]{24}$"
                  },
                  "production": {
                    "default": {
                      "visibility": "public"
                    },
                    "description": "Who can reach the published App. Default: public.",
                    "type": "object",
                    "properties": {
                      "visibility": {
                        "default": "public",
                        "type": "string",
                        "enum": [
                          "public",
                          "password",
                          "private"
                        ],
                        "description": "Who can reach the published App:\n- `public`: anyone.\n- `password`: anyone with the App's password, for 60 minutes at a time.\n- `private`: members of the App's organization, who sign in through judt.\n\nAccess tokens open password-protected and private Apps. The sandbox is always private to the organization."
                      },
                      "password": {
                        "type": "string",
                        "minLength": 8,
                        "maxLength": 128,
                        "description": "The App's password, 8 to 128 characters. It's required when `visibility` is `password`, and it's accepted only then. Setting a new password signs out every browser that used the old one. Responses never include the password."
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "required": [
                  "name"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The new App.",
            "headers": {
              "Idempotency-Key": {
                "schema": {
                  "type": "string"
                },
                "description": "The key this request ran under: the one you sent, or one the API generated. To pick up the work after a timeout, retry with this key."
              },
              "Idempotency-Retry-Window": {
                "schema": {
                  "type": "string",
                  "example": "2592000"
                },
                "description": "How long you can retry with the same key, in seconds: 2592000 (30 days)."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/App"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "description": "- `idempotency_conflict`: the key was used with a different request.\n- `idempotency_expired`: the key is too old to reuse.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "$ref": "#/components/responses/Error"
          },
          "504": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "get": {
        "summary": "List Apps",
        "description": "Lists the organization's Apps, oldest first. To include deleted Apps, set `include_deleted` to `true`.",
        "tags": [
          "Apps"
        ],
        "operationId": "get__api_apps",
        "security": [
          {
            "ApiToken": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of Apps to return.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The number of Apps to skip.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "A comma-separated list of fields to sort by: `created_at`, `updated_at`, `name`, or `slug`. Each field sorts ascending. To sort a field descending, prefix it with `-`. Ties are sorted by `id`.",
            "schema": {
              "type": "string",
              "default": "created_at"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "Returns only Apps whose `slug` contains this text, ignoring case.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          },
          {
            "name": "include_deleted",
            "in": "query",
            "description": "If `true`, includes deleted Apps. If `false`, lists only Apps that aren't deleted.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "One page of Apps.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/apps/{id}": {
      "get": {
        "summary": "Get an App",
        "description": "Returns the App, with the status of its sandbox and production. A deleted App stays readable for 30 days.",
        "tags": [
          "Apps"
        ],
        "operationId": "get__api_apps_id_",
        "security": [
          {
            "ApiToken": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "A unique ID that starts with `app_`.",
            "schema": {
              "type": "string",
              "pattern": "^app_[0-9A-Za-z]{24}$",
              "example": "app_Zj7XhMgplmTJcp5Dk4vcYuk0"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The App.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/App"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "patch": {
        "summary": "Update an App",
        "description": "Changes the App's name, slug, or production access. If a deployment is in progress, a change to production returns `409 deployment_unsettled`. Try again after the deployment finishes.",
        "tags": [
          "Apps"
        ],
        "operationId": "patch__api_apps_id_",
        "security": [
          {
            "ApiToken": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "A unique ID that starts with `app_`.",
            "schema": {
              "type": "string",
              "pattern": "^app_[0-9A-Za-z]{24}$",
              "example": "app_Zj7XhMgplmTJcp5Dk4vcYuk0"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                  "name": {
                    "description": "The App's display name, up to 100 characters.",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "slug": {
                    "type": "string",
                    "pattern": "^[a-z0-9](?:[a-z0-9-]{0,46}[a-z0-9])?$",
                    "description": "The App's label under the App base domain. If another App has the slug, including a deleted App, or the slug is reserved, the request returns `409 slug_unavailable`. Reserved slugs: `staging`, `preview`, `api`, `www`, `local`."
                  },
                  "production": {
                    "description": "Who can reach the published App.",
                    "type": "object",
                    "properties": {
                      "visibility": {
                        "type": "string",
                        "enum": [
                          "public",
                          "password",
                          "private"
                        ],
                        "description": "Who can reach the published App:\n- `public`: anyone.\n- `password`: anyone with the App's password, for 60 minutes at a time.\n- `private`: members of the App's organization, who sign in through judt.\n\nAccess tokens open password-protected and private Apps. The sandbox is always private to the organization."
                      },
                      "password": {
                        "type": "string",
                        "minLength": 8,
                        "maxLength": 128,
                        "description": "The App's password, 8 to 128 characters. It's required when `visibility` is `password`, and it's accepted only then. Setting a new password signs out every browser that used the old one. Responses never include the password."
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated App.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/App"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "description": "- `deployment_unsettled`: another deployment of the App is still in progress, and `detail` names it. Change production settings after it finishes.\n- `slug_unavailable`: another App has the slug, or the slug is reserved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "410": {
            "$ref": "#/components/responses/Error"
          },
          "413": {
            "$ref": "#/components/responses/Error"
          },
          "504": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "summary": "Delete an App",
        "description": "Deletes the App. The response returns after the App stops serving, its sandbox is removed, and it accepts no more changes. The deleted App stays readable for 30 days, and then it's permanently removed.\n\nIf the request times out, the deletion continues, and the `504` response says what it's waiting for. To follow the deletion, list the App's events. A repeated request returns the deleted App.",
        "tags": [
          "Apps"
        ],
        "operationId": "delete__api_apps_id_",
        "security": [
          {
            "ApiToken": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "A unique ID that starts with `app_`.",
            "schema": {
              "type": "string",
              "pattern": "^app_[0-9A-Za-z]{24}$",
              "example": "app_Zj7XhMgplmTJcp5Dk4vcYuk0"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "A key that identifies this request for retries, up to 200 printable characters. A retry with the same key and input returns the first request's result instead of repeating the work. If you omit the key, the API generates one and returns it in the `Idempotency-Key` response header.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The deleted App.",
            "headers": {
              "Idempotency-Key": {
                "schema": {
                  "type": "string"
                },
                "description": "The key this request ran under: the one you sent, or one the API generated. To pick up the work after a timeout, retry with this key."
              },
              "Idempotency-Retry-Window": {
                "schema": {
                  "type": "string",
                  "example": "2592000"
                },
                "description": "How long you can retry with the same key, in seconds: 2592000 (30 days)."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/App"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "description": "- `idempotency_conflict`: the key was used with a different request.\n- `idempotency_expired`: the key is too old to reuse.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "504": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/apps/{id}/access": {
      "post": {
        "summary": "Create an access token",
        "description": "Creates a token that opens the published App for five minutes, without its password or sign-in. To use it, send it in the `X-Judt-Access-Token` header, or add it to a link as the `access_token` URL parameter. A public App ignores the token.\n\nIf the App isn't published, the request returns `409 app_unpublished`.",
        "tags": [
          "Apps"
        ],
        "operationId": "post__api_apps_id_access",
        "security": [
          {
            "ApiToken": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "A unique ID that starts with `app_`.",
            "schema": {
              "type": "string",
              "pattern": "^app_[0-9A-Za-z]{24}$",
              "example": "app_Zj7XhMgplmTJcp5Dk4vcYuk0"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The access token.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessToken"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "description": "- `app_unpublished`: the App isn't published.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "410": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/apps/{id}/secrets": {
      "get": {
        "summary": "List Secrets",
        "description": "Lists the App's Secrets by name. Responses never include Secret values.",
        "tags": [
          "Secrets"
        ],
        "operationId": "get__api_apps_id_secrets",
        "security": [
          {
            "ApiToken": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "A unique ID that starts with `app_`.",
            "schema": {
              "type": "string",
              "pattern": "^app_[0-9A-Za-z]{24}$",
              "example": "app_Zj7XhMgplmTJcp5Dk4vcYuk0"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of Secrets to return.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The number of Secrets to skip.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "A comma-separated list of fields to sort by: `name`, `created_at`, or `updated_at`. Each field sorts ascending. To sort a field descending, prefix it with `-`. Ties are sorted by `id`.",
            "schema": {
              "type": "string",
              "default": "name"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Returns only Secrets whose `name` contains this text, ignoring case.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "One page of Secrets.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecretList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "410": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "put": {
        "summary": "Set a Secret",
        "description": "Creates a Secret and returns `201`, or replaces the value of the Secret with that name and returns `200`. The App gets the value the next time its sandbox starts or it's deployed.\n\nIf a waiting agent turn requested this Secret, and it's the last one that the turn needs, the turn resumes.",
        "tags": [
          "Secrets"
        ],
        "operationId": "put__api_apps_id_secrets",
        "security": [
          {
            "ApiToken": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "A unique ID that starts with `app_`.",
            "schema": {
              "type": "string",
              "pattern": "^app_[0-9A-Za-z]{24}$",
              "example": "app_Zj7XhMgplmTJcp5Dk4vcYuk0"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "pattern": "^[A-Z_][A-Z0-9_]{0,127}$",
                    "description": "The Secret's name: uppercase letters, digits, and underscores, not starting with a digit. The App reads the value as an environment variable with this name."
                  },
                  "value": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 65536,
                    "description": "The Secret's value, from 1 byte to 64 KiB of UTF-8. Responses never include it."
                  }
                },
                "required": [
                  "name",
                  "value"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated Secret.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Secret"
                }
              }
            }
          },
          "201": {
            "description": "The new Secret.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Secret"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "410": {
            "$ref": "#/components/responses/Error"
          },
          "413": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/apps/{id}/secrets/{secret}": {
      "get": {
        "summary": "Get a Secret",
        "description": "Returns a Secret by its ID or name, without its value.",
        "tags": [
          "Secrets"
        ],
        "operationId": "get__api_apps_id_secrets_secret_",
        "security": [
          {
            "ApiToken": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "A unique ID that starts with `app_`.",
            "schema": {
              "type": "string",
              "pattern": "^app_[0-9A-Za-z]{24}$",
              "example": "app_Zj7XhMgplmTJcp5Dk4vcYuk0"
            }
          },
          {
            "name": "secret",
            "in": "path",
            "required": true,
            "description": "The Secret's ID, which starts with `sec_`, or its name.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Secret, without its value.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Secret"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "410": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "put": {
        "summary": "Replace a Secret",
        "description": "Replaces the Secret's name and value. If no Secret matches the path and the body uses the same name, the request creates the Secret and returns `201`. The App gets the value the next time its sandbox starts or it's deployed.\n\nIf a waiting agent turn requested this Secret, and it's the last one that the turn needs, the turn resumes.",
        "tags": [
          "Secrets"
        ],
        "operationId": "put__api_apps_id_secrets_secret_",
        "security": [
          {
            "ApiToken": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "A unique ID that starts with `app_`.",
            "schema": {
              "type": "string",
              "pattern": "^app_[0-9A-Za-z]{24}$",
              "example": "app_Zj7XhMgplmTJcp5Dk4vcYuk0"
            }
          },
          {
            "name": "secret",
            "in": "path",
            "required": true,
            "description": "The Secret's ID, which starts with `sec_`, or its name.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "pattern": "^[A-Z_][A-Z0-9_]{0,127}$",
                    "description": "The Secret's name: uppercase letters, digits, and underscores, not starting with a digit. The App reads the value as an environment variable with this name."
                  },
                  "value": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 65536,
                    "description": "The Secret's value, from 1 byte to 64 KiB of UTF-8. Responses never include it."
                  }
                },
                "required": [
                  "name",
                  "value"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated Secret.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Secret"
                }
              }
            }
          },
          "201": {
            "description": "The new Secret.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Secret"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "410": {
            "$ref": "#/components/responses/Error"
          },
          "413": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "summary": "Delete a Secret",
        "description": "Deletes the Secret and its stored value.",
        "tags": [
          "Secrets"
        ],
        "operationId": "delete__api_apps_id_secrets_secret_",
        "security": [
          {
            "ApiToken": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "A unique ID that starts with `app_`.",
            "schema": {
              "type": "string",
              "pattern": "^app_[0-9A-Za-z]{24}$",
              "example": "app_Zj7XhMgplmTJcp5Dk4vcYuk0"
            }
          },
          {
            "name": "secret",
            "in": "path",
            "required": true,
            "description": "The Secret's ID, which starts with `sec_`, or its name.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The deleted Secret.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Secret"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "410": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/apps/{id}/files": {
      "get": {
        "summary": "List files",
        "description": "Lists the App's source files by path. Folders aren't listed separately. A file's path includes its folders.",
        "tags": [
          "Files"
        ],
        "operationId": "get__api_apps_id_files",
        "security": [
          {
            "ApiToken": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "A unique ID that starts with `app_`.",
            "schema": {
              "type": "string",
              "pattern": "^app_[0-9A-Za-z]{24}$",
              "example": "app_Zj7XhMgplmTJcp5Dk4vcYuk0"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of files to return.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The number of files to skip.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "A comma-separated list of fields to sort by: `path` or `size`. Each field sorts ascending. To sort a field descending, prefix it with `-`. Ties are sorted by `path`.",
            "schema": {
              "type": "string",
              "default": "path"
            }
          },
          {
            "name": "path",
            "in": "query",
            "description": "Returns only files whose `path` contains this text, ignoring case.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          },
          {
            "name": "content",
            "in": "query",
            "description": "Returns only files whose `content` contains this text, ignoring case.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "One page of files.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "410": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "502": {
            "description": "The sandbox returned a response that the API can't use, such as `sandbox_incompatible` or `helper_output_too_large`. Retrying doesn't change the result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "$ref": "#/components/responses/Error"
          },
          "504": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/apps/{id}/files/{path}": {
      "get": {
        "summary": "Read a file",
        "description": "Returns the file as JSON. For a text file, `content` holds the text. For a binary file, `binary` is `true` and `content` is left out. To get the bytes, send `Accept: application/octet-stream`.\n\nThe `ETag` header holds the file's version. To skip an unchanged file, send its ETag in `If-None-Match`, and the request returns `304`.",
        "tags": [
          "Files"
        ],
        "operationId": "get__api_apps_id_files_path_",
        "security": [
          {
            "ApiToken": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "A unique ID that starts with `app_`.",
            "schema": {
              "type": "string",
              "pattern": "^app_[0-9A-Za-z]{24}$",
              "example": "app_Zj7XhMgplmTJcp5Dk4vcYuk0"
            }
          },
          {
            "name": "path",
            "in": "path",
            "required": true,
            "description": "The file's path from the App's root, such as `src/lib/util.ts`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "One or more quoted ETags from earlier reads. If the file still matches one of them, the request returns `304` with no body."
          }
        ],
        "responses": {
          "200": {
            "description": "The file, as JSON or as raw bytes.",
            "headers": {
              "ETag": {
                "schema": {
                  "type": "string"
                },
                "description": "The file's version: its quoted SHA-256 hash."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileContent"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "304": {
            "description": "The file still matches `If-None-Match`."
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "410": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "502": {
            "description": "The sandbox returned a response that the API can't use, such as `sandbox_incompatible` or `helper_output_too_large`. Retrying doesn't change the result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "$ref": "#/components/responses/Error"
          },
          "504": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "put": {
        "summary": "Write a file",
        "description": "Creates or replaces a file, up to 1 MiB, and creates any missing folders. Send text as JSON, in the form `{\"content\": \"TEXT\"}`, or send raw bytes with any other `Content-Type`.\n\nTo replace only a specific version, send its ETag in `If-Match`. To create the file only if it doesn't exist, send `If-None-Match: *`.",
        "tags": [
          "Files"
        ],
        "operationId": "put__api_apps_id_files_path_",
        "security": [
          {
            "ApiToken": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "A unique ID that starts with `app_`.",
            "schema": {
              "type": "string",
              "pattern": "^app_[0-9A-Za-z]{24}$",
              "example": "app_Zj7XhMgplmTJcp5Dk4vcYuk0"
            }
          },
          {
            "name": "path",
            "in": "path",
            "required": true,
            "description": "The file's path from the App's root, such as `src/lib/util.ts`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Match",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "One or more quoted ETags from earlier reads, or `*`. The request runs only if the file matches one of the ETags, or, for `*`, if the file exists. Otherwise, it returns `412`."
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "`*` to create the file only if it doesn't exist. If the file exists, the request returns `412`."
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "A key that identifies this request for retries, up to 200 printable characters. A retry with the same key and input returns the first request's result instead of repeating the work. If you omit the key, the API generates one and returns it in the `Idempotency-Key` response header.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                  "content": {
                    "type": "string",
                    "maxLength": 1048576,
                    "description": "The file's UTF-8 text, up to 1 MiB."
                  }
                },
                "required": [
                  "content"
                ],
                "additionalProperties": false
              }
            },
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The replaced file.",
            "headers": {
              "Idempotency-Key": {
                "schema": {
                  "type": "string"
                },
                "description": "The key this request ran under: the one you sent, or one the API generated. To pick up the work after a timeout, retry with this key."
              },
              "Idempotency-Retry-Window": {
                "schema": {
                  "type": "string",
                  "example": "2592000"
                },
                "description": "How long you can retry with the same key, in seconds: 2592000 (30 days)."
              },
              "ETag": {
                "schema": {
                  "type": "string"
                },
                "description": "The file's version: its quoted SHA-256 hash."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/File"
                }
              }
            }
          },
          "201": {
            "description": "The new file.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/File"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "description": "- `idempotency_conflict`: the key was used with a different request.\n- `idempotency_expired`: the key is too old to reuse.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "410": {
            "$ref": "#/components/responses/Error"
          },
          "412": {
            "$ref": "#/components/responses/Error"
          },
          "413": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "502": {
            "description": "The sandbox failed the action, for example with `process_isolation_unavailable`, or it returned a response that the API can't use (`sandbox_incompatible`). This result is final. A retry with the same `Idempotency-Key` returns the same error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "The action is recorded but not finished, and `code` and `message` say what's holding it back. The action hasn't run yet, its outcome isn't known yet, or it's applied but not yet backed up (`recovery_degraded`). To get its result, retry with the same `Idempotency-Key`. A new key would run the action again.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "504": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "summary": "Delete a file",
        "description": "Deletes the file and any folders that it leaves empty. To delete only a specific version, send its ETag in `If-Match`.",
        "tags": [
          "Files"
        ],
        "operationId": "delete__api_apps_id_files_path_",
        "security": [
          {
            "ApiToken": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "A unique ID that starts with `app_`.",
            "schema": {
              "type": "string",
              "pattern": "^app_[0-9A-Za-z]{24}$",
              "example": "app_Zj7XhMgplmTJcp5Dk4vcYuk0"
            }
          },
          {
            "name": "path",
            "in": "path",
            "required": true,
            "description": "The file's path from the App's root, such as `src/lib/util.ts`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Match",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "One or more quoted ETags from earlier reads, or `*`. The request runs only if the file matches one of the ETags, or, for `*`, if the file exists. Otherwise, it returns `412`."
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "A key that identifies this request for retries, up to 200 printable characters. A retry with the same key and input returns the first request's result instead of repeating the work. If you omit the key, the API generates one and returns it in the `Idempotency-Key` response header.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The deleted file.",
            "headers": {
              "Idempotency-Key": {
                "schema": {
                  "type": "string"
                },
                "description": "The key this request ran under: the one you sent, or one the API generated. To pick up the work after a timeout, retry with this key."
              },
              "Idempotency-Retry-Window": {
                "schema": {
                  "type": "string",
                  "example": "2592000"
                },
                "description": "How long you can retry with the same key, in seconds: 2592000 (30 days)."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/File"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "description": "- `idempotency_conflict`: the key was used with a different request.\n- `idempotency_expired`: the key is too old to reuse.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "410": {
            "$ref": "#/components/responses/Error"
          },
          "412": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "502": {
            "description": "The sandbox failed the action, for example with `process_isolation_unavailable`, or it returned a response that the API can't use (`sandbox_incompatible`). This result is final. A retry with the same `Idempotency-Key` returns the same error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "The action is recorded but not finished, and `code` and `message` say what's holding it back. The action hasn't run yet, its outcome isn't known yet, or it's applied but not yet backed up (`recovery_degraded`). To get its result, retry with the same `Idempotency-Key`. A new key would run the action again.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "504": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/apps/{id}/command": {
      "post": {
        "summary": "Run a command",
        "description": "Runs a shell command in the App's sandbox and returns its output after it finishes or times out.\n\nTo retry safely, send the same `Idempotency-Key`. A retry returns the first run's result instead of running the command again.",
        "tags": [
          "Sandbox"
        ],
        "operationId": "post__api_apps_id_command",
        "security": [
          {
            "ApiToken": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "A unique ID that starts with `app_`.",
            "schema": {
              "type": "string",
              "pattern": "^app_[0-9A-Za-z]{24}$",
              "example": "app_Zj7XhMgplmTJcp5Dk4vcYuk0"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "A key that identifies this request for retries, up to 200 printable characters. A retry with the same key and input returns the first request's result instead of repeating the work. If you omit the key, the API generates one and returns it in the `Idempotency-Key` response header.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                  "command": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 8192,
                    "description": "The shell command to run, up to 8192 characters."
                  },
                  "timeout_seconds": {
                    "default": 60,
                    "description": "How long the command can run, in seconds, before it's stopped.",
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 120
                  }
                },
                "required": [
                  "command"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The command's result.",
            "headers": {
              "Idempotency-Key": {
                "schema": {
                  "type": "string"
                },
                "description": "The key this request ran under: the one you sent, or one the API generated. To pick up the work after a timeout, retry with this key."
              },
              "Idempotency-Retry-Window": {
                "schema": {
                  "type": "string",
                  "example": "2592000"
                },
                "description": "How long you can retry with the same key, in seconds: 2592000 (30 days)."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "description": "- `idempotency_conflict`: the key was used with a different request.\n- `idempotency_expired`: the key is too old to reuse.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "410": {
            "$ref": "#/components/responses/Error"
          },
          "413": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "502": {
            "description": "The sandbox failed the action, for example with `process_isolation_unavailable`, or it returned a response that the API can't use (`sandbox_incompatible`). This result is final. A retry with the same `Idempotency-Key` returns the same error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "The action is recorded but not finished, and `code` and `message` say what's holding it back. The action hasn't run yet, its outcome isn't known yet, or it's applied but not yet backed up (`recovery_degraded`). To get its result, retry with the same `Idempotency-Key`. A new key would run the action again.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "504": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/apps/{id}/git": {
      "get": {
        "summary": "Get Git information",
        "description": "Returns the sandbox's Git status, its uncommitted changes, or its recent history, depending on `mode`.",
        "tags": [
          "Sandbox"
        ],
        "operationId": "get__api_apps_id_git",
        "security": [
          {
            "ApiToken": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "A unique ID that starts with `app_`.",
            "schema": {
              "type": "string",
              "pattern": "^app_[0-9A-Za-z]{24}$",
              "example": "app_Zj7XhMgplmTJcp5Dk4vcYuk0"
            }
          },
          {
            "name": "mode",
            "in": "query",
            "description": "What to return:\n- `status`: the Git status.\n- `diff`: the uncommitted changes, as a patch.\n- `stat`: a summary of the uncommitted changes.\n- `history`: the recent commits.",
            "schema": {
              "type": "string",
              "enum": [
                "status",
                "diff",
                "stat",
                "history"
              ],
              "default": "status"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Git output.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GitResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "410": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "502": {
            "description": "The sandbox returned a response that the API can't use, such as `sandbox_incompatible` or `helper_output_too_large`. Retrying doesn't change the result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "$ref": "#/components/responses/Error"
          },
          "504": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/apps/{id}/commits": {
      "post": {
        "summary": "Create a commit",
        "description": "Commits the sandbox's changes to Git and backs up the commit, so that you can restore it later.",
        "tags": [
          "Sandbox"
        ],
        "operationId": "post__api_apps_id_commits",
        "security": [
          {
            "ApiToken": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "A unique ID that starts with `app_`.",
            "schema": {
              "type": "string",
              "pattern": "^app_[0-9A-Za-z]{24}$",
              "example": "app_Zj7XhMgplmTJcp5Dk4vcYuk0"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "A key that identifies this request for retries, up to 200 printable characters. A retry with the same key and input returns the first request's result instead of repeating the work. If you omit the key, the API generates one and returns it in the `Idempotency-Key` response header.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                  "message": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 240,
                    "pattern": "^[^\\r\\n]*$",
                    "description": "A one-line summary of what changed since the last commit, up to 240 characters. It becomes the Git commit message."
                  }
                },
                "required": [
                  "message"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The new commit.",
            "headers": {
              "Idempotency-Key": {
                "schema": {
                  "type": "string"
                },
                "description": "The key this request ran under: the one you sent, or one the API generated. To pick up the work after a timeout, retry with this key."
              },
              "Idempotency-Retry-Window": {
                "schema": {
                  "type": "string",
                  "example": "2592000"
                },
                "description": "How long you can retry with the same key, in seconds: 2592000 (30 days)."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Commit"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "description": "- `idempotency_conflict`: the key was used with a different request.\n- `idempotency_expired`: the key is too old to reuse.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "410": {
            "$ref": "#/components/responses/Error"
          },
          "413": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "502": {
            "description": "The sandbox failed the action, for example with `process_isolation_unavailable`, or it returned a response that the API can't use (`sandbox_incompatible`). This result is final. A retry with the same `Idempotency-Key` returns the same error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "The action is recorded but not finished, and `code` and `message` say what's holding it back. The action hasn't run yet, its outcome isn't known yet, or it's applied but not yet backed up (`recovery_degraded`). To get its result, retry with the same `Idempotency-Key`. A new key would run the action again.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "504": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "get": {
        "summary": "List commits",
        "description": "Lists the App's commits, newest first. To restore a commit, pass its `id` to `POST /api/apps/{id}/restore`. To find the commit for a Git SHA, search by `commit_sha`.",
        "tags": [
          "Sandbox"
        ],
        "operationId": "get__api_apps_id_commits",
        "security": [
          {
            "ApiToken": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "A unique ID that starts with `app_`.",
            "schema": {
              "type": "string",
              "pattern": "^app_[0-9A-Za-z]{24}$",
              "example": "app_Zj7XhMgplmTJcp5Dk4vcYuk0"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of commits to return.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The number of commits to skip.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "A comma-separated list of fields to sort by: `created_at` or `sequence`. Each field sorts ascending. To sort a field descending, prefix it with `-`. Ties are sorted by `id`.",
            "schema": {
              "type": "string",
              "default": "-created_at"
            }
          },
          {
            "name": "commit_sha",
            "in": "query",
            "description": "Returns only commits whose `commit_sha` contains this text, ignoring case.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          },
          {
            "name": "message",
            "in": "query",
            "description": "Returns only commits whose `message` contains this text, ignoring case.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "One page of commits.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommitList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/apps/{id}/restore": {
      "post": {
        "summary": "Restore a commit",
        "description": "Resets the sandbox's files to a commit. Production doesn't change. To publish the restored source, create a deployment.",
        "tags": [
          "Sandbox"
        ],
        "operationId": "post__api_apps_id_restore",
        "security": [
          {
            "ApiToken": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "A unique ID that starts with `app_`.",
            "schema": {
              "type": "string",
              "pattern": "^app_[0-9A-Za-z]{24}$",
              "example": "app_Zj7XhMgplmTJcp5Dk4vcYuk0"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "A key that identifies this request for retries, up to 200 printable characters. A retry with the same key and input returns the first request's result instead of repeating the work. If you omit the key, the API generates one and returns it in the `Idempotency-Key` response header.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                  "commit_id": {
                    "type": "string",
                    "pattern": "^cmt_[0-9A-Za-z]{24}$",
                    "description": "The ID of the commit to restore, from `GET /api/apps/{id}/commits`."
                  }
                },
                "required": [
                  "commit_id"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The App.",
            "headers": {
              "Idempotency-Key": {
                "schema": {
                  "type": "string"
                },
                "description": "The key this request ran under: the one you sent, or one the API generated. To pick up the work after a timeout, retry with this key."
              },
              "Idempotency-Retry-Window": {
                "schema": {
                  "type": "string",
                  "example": "2592000"
                },
                "description": "How long you can retry with the same key, in seconds: 2592000 (30 days)."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/App"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "description": "- `idempotency_conflict`: the key was used with a different request.\n- `idempotency_expired`: the key is too old to reuse.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "410": {
            "$ref": "#/components/responses/Error"
          },
          "413": {
            "$ref": "#/components/responses/Error"
          },
          "422": {
            "description": "- `commit_not_found`: the commit is no longer in the App's repository.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "502": {
            "description": "The sandbox failed the action, for example with `process_isolation_unavailable`, or it returned a response that the API can't use (`sandbox_incompatible`). This result is final. A retry with the same `Idempotency-Key` returns the same error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "The action is recorded but not finished, and `code` and `message` say what's holding it back. The action hasn't run yet, its outcome isn't known yet, or it's applied but not yet backed up (`recovery_degraded`). To get its result, retry with the same `Idempotency-Key`. A new key would run the action again.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "504": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/apps/{id}/preview": {
      "post": {
        "summary": "Create a preview link",
        "description": "Returns a short-lived URL that opens the sandbox's dev server in a browser.",
        "tags": [
          "Sandbox"
        ],
        "operationId": "post__api_apps_id_preview",
        "security": [
          {
            "ApiToken": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "A unique ID that starts with `app_`.",
            "schema": {
              "type": "string",
              "pattern": "^app_[0-9A-Za-z]{24}$",
              "example": "app_Zj7XhMgplmTJcp5Dk4vcYuk0"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The preview link.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreviewResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "410": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "502": {
            "description": "The sandbox returned a response that the API can't use, such as `sandbox_incompatible` or `helper_output_too_large`. Retrying doesn't change the result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "$ref": "#/components/responses/Error"
          },
          "504": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/apps/{id}/stop": {
      "post": {
        "summary": "Stop the sandbox",
        "description": "Commits any changes and stops the sandbox without waiting for it to go idle. The response returns the App after the sandbox stops.\n\nIf a later request needs the sandbox before the stop finishes, the sandbox keeps running, and the response returns the App as it is. The next request that needs the sandbox starts it again.",
        "tags": [
          "Sandbox"
        ],
        "operationId": "post__api_apps_id_stop",
        "security": [
          {
            "ApiToken": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "A unique ID that starts with `app_`.",
            "schema": {
              "type": "string",
              "pattern": "^app_[0-9A-Za-z]{24}$",
              "example": "app_Zj7XhMgplmTJcp5Dk4vcYuk0"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "A key that identifies this request for retries, up to 200 printable characters. A retry with the same key and input returns the first request's result instead of repeating the work. If you omit the key, the API generates one and returns it in the `Idempotency-Key` response header.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The App.",
            "headers": {
              "Idempotency-Key": {
                "schema": {
                  "type": "string"
                },
                "description": "The key this request ran under: the one you sent, or one the API generated. To pick up the work after a timeout, retry with this key."
              },
              "Idempotency-Retry-Window": {
                "schema": {
                  "type": "string",
                  "example": "2592000"
                },
                "description": "How long you can retry with the same key, in seconds: 2592000 (30 days)."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/App"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "description": "- `idempotency_conflict`: the key was used with a different request.\n- `idempotency_expired`: the key is too old to reuse.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "410": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          },
          "504": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/apps/{id}/deployments": {
      "post": {
        "summary": "Publish a commit",
        "description": "Publishes a commit and waits until it's serving. By default, the request publishes the sandbox's current commit. Publishing an unpublished App puts it back online.",
        "tags": [
          "Deployments"
        ],
        "operationId": "post__api_apps_id_deployments",
        "security": [
          {
            "ApiToken": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "A unique ID that starts with `app_`.",
            "schema": {
              "type": "string",
              "pattern": "^app_[0-9A-Za-z]{24}$",
              "example": "app_Zj7XhMgplmTJcp5Dk4vcYuk0"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "A key that identifies this request for retries, up to 200 printable characters. A retry with the same key and input returns the first request's result instead of repeating the work. If you omit the key, the API generates one and returns it in the `Idempotency-Key` response header.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {
                  "commit": {
                    "description": "The Git SHA of the commit to publish. Default: the sandbox's current commit.",
                    "type": "string",
                    "pattern": "^[a-f0-9]{40}$"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The deployment.",
            "headers": {
              "Idempotency-Key": {
                "schema": {
                  "type": "string"
                },
                "description": "The key this request ran under: the one you sent, or one the API generated. To pick up the work after a timeout, retry with this key."
              },
              "Idempotency-Retry-Window": {
                "schema": {
                  "type": "string",
                  "example": "2592000"
                },
                "description": "How long you can retry with the same key, in seconds: 2592000 (30 days)."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Deployment"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "description": "- `deployment_unsettled`: another deployment of the App is still in progress, and `detail` names it. Deploy again after it finishes.\n- `idempotency_conflict`: the key was used with a different request.\n- `idempotency_expired`: the key is too old to reuse.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "410": {
            "description": "- `app_deleted`: the App was deleted before the request, or while it was publishing and the publication didn't complete. If the publication completed before the deletion, the request returns `200` with `activation_status` set to `disabled`. The deployment stays readable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "$ref": "#/components/responses/Error"
          },
          "422": {
            "description": "The source can't be deployed as it is. `message` says what to change, and `code` is one of the following: `unsupported_entrypoint`, `unsupported_dependencies`, `lockfile_missing`, `dependency_install_failed`, `build_failed`, `entrypoint_missing`, `source_limit`, or `commit_not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "502": {
            "description": "Publication or activation failed, and `message` says why. `code` is `deploy_failed`, `publish_timeout`, `activation_timeout`, `activation_failed`, or a failure code from the runtime host.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "$ref": "#/components/responses/Error"
          },
          "504": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "get": {
        "summary": "List deployments",
        "description": "Lists the App's deployments, newest first.",
        "tags": [
          "Deployments"
        ],
        "operationId": "get__api_apps_id_deployments",
        "security": [
          {
            "ApiToken": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "A unique ID that starts with `app_`.",
            "schema": {
              "type": "string",
              "pattern": "^app_[0-9A-Za-z]{24}$",
              "example": "app_Zj7XhMgplmTJcp5Dk4vcYuk0"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of deployments to return.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The number of deployments to skip.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "A comma-separated list of fields to sort by: `created_at` or `published_at`. Each field sorts ascending. To sort a field descending, prefix it with `-`. Ties are sorted by `id`.",
            "schema": {
              "type": "string",
              "default": "-created_at"
            }
          },
          {
            "name": "source_commit",
            "in": "query",
            "description": "Returns only deployments whose `source_commit` contains this text, ignoring case.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "One page of deployments.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeploymentList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/apps/{id}/deployments/{deployment_id}": {
      "get": {
        "summary": "Get a deployment",
        "description": "Returns the deployment, including its publication status, activation status, and database migrations.",
        "tags": [
          "Deployments"
        ],
        "operationId": "get__api_apps_id_deployments_deployment_id_",
        "security": [
          {
            "ApiToken": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "A unique ID that starts with `app_`.",
            "schema": {
              "type": "string",
              "pattern": "^app_[0-9A-Za-z]{24}$",
              "example": "app_Zj7XhMgplmTJcp5Dk4vcYuk0"
            }
          },
          {
            "name": "deployment_id",
            "in": "path",
            "required": true,
            "description": "A unique ID that starts with `dep_`.",
            "schema": {
              "type": "string",
              "pattern": "^dep_[0-9A-Za-z]{24}$",
              "example": "dep_Zj7XhMgplmTJcp5Dk4vcYuk0"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The deployment.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Deployment"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/apps/{id}/unpublish": {
      "post": {
        "summary": "Unpublish an App",
        "description": "Takes the App offline. The App's deployments stay readable, and the next deployment publishes the App again.",
        "tags": [
          "Deployments"
        ],
        "operationId": "post__api_apps_id_unpublish",
        "security": [
          {
            "ApiToken": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "A unique ID that starts with `app_`.",
            "schema": {
              "type": "string",
              "pattern": "^app_[0-9A-Za-z]{24}$",
              "example": "app_Zj7XhMgplmTJcp5Dk4vcYuk0"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "A key that identifies this request for retries, up to 200 printable characters. A retry with the same key and input returns the first request's result instead of repeating the work. If you omit the key, the API generates one and returns it in the `Idempotency-Key` response header.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The App.",
            "headers": {
              "Idempotency-Key": {
                "schema": {
                  "type": "string"
                },
                "description": "The key this request ran under: the one you sent, or one the API generated. To pick up the work after a timeout, retry with this key."
              },
              "Idempotency-Retry-Window": {
                "schema": {
                  "type": "string",
                  "example": "2592000"
                },
                "description": "How long you can retry with the same key, in seconds: 2592000 (30 days)."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/App"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "description": "- `deployment_unsettled`: another deployment of the App is still in progress, and `detail` names it. Unpublish after it finishes.\n- `idempotency_conflict`: the key was used with a different request.\n- `idempotency_expired`: the key is too old to reuse.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "410": {
            "$ref": "#/components/responses/Error"
          },
          "504": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/apps/{id}/events": {
      "get": {
        "summary": "List App events",
        "description": "Lists what happened to the App's sandbox, deployments, and deletion, newest first. Use events to find out why an action failed or what it's waiting for. To list only what needs attention, set `kind` to `error,blocked`.\n\nTo see what the App's code did, list its logs instead.",
        "tags": [
          "Monitoring"
        ],
        "operationId": "get__api_apps_id_events",
        "security": [
          {
            "ApiToken": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "A unique ID that starts with `app_`.",
            "schema": {
              "type": "string",
              "pattern": "^app_[0-9A-Za-z]{24}$",
              "example": "app_Zj7XhMgplmTJcp5Dk4vcYuk0"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of events to return.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The number of events to skip.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "A comma-separated list of fields to sort by: `created_at`. Each field sorts ascending. To sort a field descending, prefix it with `-`. Ties are sorted by `id`.",
            "schema": {
              "type": "string",
              "default": "-created_at"
            }
          },
          {
            "name": "subject",
[...]
